.tickets-page-heading-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.matchup {
  font-weight: bold;
  font-size: 1.5rem;
}

.location-datetime {
  font-size: 1rem;
  color: rgb(200, 200, 200);
}

.ticket-options-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ticket-sort {
  width: 10rem;
}

.ticket-quantity {
  width: 6rem;
}

.dropdown-container {
  position: relative;
}

.dropdown-container select:focus {
  border: 1px solid rgb(200, 200, 200) !important;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  left: 0.7rem;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
}

.ticket-scrollers-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
