.app-container {
  text-align: center;
  background-color: rgb(36, 36, 36);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  width: 100%;
  min-height: 0;
  flex-grow: 1;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 100px 25px;
  overflow: auto;
}
