.app-container {
  text-align: center;
  background-color: rgb(36, 36, 36);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 0px 25px;
  overflow: auto;
  color: white;
}
