.ticket-list-item {
  justify-content: space-around;
  text-decoration: none;
  color: white;
  position: relative;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ticket-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* .gametime {
  background-color: rgb(14, 14, 14);
  color: white;
}

.tickpick {
  background-color: white;
  color: black;
} */

/* .seat-view-list {
  justify-content: center;
  flex: 1;
  display: flex;
  align-items: center;
} */

/* .seat-view-list img {
  width: 150%;
  height: auto;
  object-fit: cover;
} */

.ticket-app-list img {
  /* position: absolute;
  top: 5%;
  left: 5%;
  pointer-events: none;
  z-index: 1; */
  /* width: 10%; */
  width: 50px;
  border-radius: 8px;
}

/* .ticket-info-list {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */

.seat-list {
  font-size: 1rem;
}

.price-list {
  font-size: 1.25rem;
  font-weight: bold;
}
