.amplify-togglebutton {
  border-color: rgb(100, 100, 100);
  border-radius: 25px;
}

.amplify-togglebutton.selected {
  border-color: rgb(255, 165, 0);
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.4);
  background-color: rgba(255, 165, 0, 0.1);
}

.amplify-togglebutton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
