.tickets-page-heading-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-info-ticket-view-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.event-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}

.matchup {
  font-weight: bold;
  font-size: 1.5rem;
}

.location-datetime {
  font-size: 1rem;
  color: rgb(200, 200, 200);
}

.ticket-options-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ticket-sort {
  width: 10rem;
}

.ticket-quantity {
  width: 6rem;
}

.dropdown-container {
  position: relative;
}

.dropdown-container select:focus {
  border: 1px solid rgb(100, 100, 100);
  box-shadow: 0 0 5px rgba(36, 36, 36);
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  left: 0.7rem;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
}
