.header {
  background-image: url('/background.png');
  height: 90px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  justify-content: start;
  gap: 30px;
  padding: 0 30px;
  box-shadow: 0 0 4px;
}

.header img.logo {
  height: 65%;
}

.header img.title {
  height: 45%;
}
