.App {
  text-align: center;
  background-color: rgb(36, 36, 36);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-right: 20px;
  margin-left: 20px;
}

.App-header {
  background-image: url('../public/background.png');
  max-height: 115px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
}

.App-header img.logo {
  max-height: 140px;
  margin-left: 20px;
}

.App-header img.title {
  max-height: 50px;
  margin-left: 20px;
}

.App-content-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}

.Side-panel {
  background-color: rgb(100, 100, 100);
  width: 200px;
  min-height: 100%;
}

.Main-content {
  display: flex;
  flex: 1;
  justify-content: center;
}

.ticket-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.ticket-tile {
  /* min-width: 300px; */
  height: 80%;
  aspect-ratio: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: x-small;
}

.gametime {
  background-color: rgb(14, 14, 14);
  color: white;
}

.tickpick {
  background-color: white;
  color: black;
}

.seat-view {
  height: 75%;
  background-color: gray;
}

.ticket-info {
  height: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.app img {
  width: 50%; /* Set the width */
  height: auto; /* Maintain aspect ratio */
}