.App {
  text-align: center;
  background-color: rgb(36, 36, 36);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-right: 20px;
  margin-left: 20px;
}

.App-header {
  background-image: url('../public/background.png');
  max-height: 115px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
}

.App-header img.logo {
  max-height: 140px;
  margin-left: 20px;
}

.App-header img.title {
  max-height: 50px;
  margin-left: 20px;
}

.Card-container {
  display: inline-flex;
  padding: 0;
}